<form class="form-horizontal" id='frmSearch'>
  <legend>Search Contacts</legend>
  <div class="control-group">
    <label class="control-label" for="full_name">Full Name</label>
    <div class="controls">
      <input type="text" id="full_name" placeholder="Full Name" class='input-xlarge'>
      <input type='hidden' id='id' class='input' value=""/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" id="email" placeholder="Email" class='input-xlarge'>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Search Contacts</button>
    </div>
  </div>  
  <div id='grid'></div>
</form>